<hr>
<div class="post_navi">
   <a class="post_navi-item nav_next" href="{{ 'resume.html' | absolute_url }}" title="Resume">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Resume</div><div><span>Professional Resume</span></div>
  </a>
  <a class="post_navi-item nav_next" href="{{ 'Reading.html' | absolute_url }}" title="Reading List">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Reading List</div><div><span>Books I have read, am reading, and plan to read</span></div>{%- endif -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
</div>

